/* MAIN SECTION */
.featured-section {
  width: 100%;
  margin-top: 20px;
}

/* HEADER */
.header-feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(96deg, #0c09aa, #3c39d4);
  padding: 25px 80px;
}

.header-feature h2 {
  color: #fff;
  font-family: Manrope;
  font-size: 48px;
  font-weight: 600;
}

.view-all {
  color: #fff;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
}

/* GRID */
.grid-employers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 25px 80px;
}

/* CARD */
.emp-card {
  background: #fff;
  border: 3px solid #0c09aa;
  padding: 20px;
  height: 180px;
  text-align: center;
}

.emp-card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

.emp-name {
  margin-top: 10px;
  color: #356ae6;
  font-size: 22px;
  font-weight: 600;
}

/* MOBILE */
@media (max-width: 768px) {
  .header-feature {
    padding: 15px 20px;
  }

  .header-feature h2 {
    font-size: 20px;
  }

  .view-all {
    font-size: 18px;
  }

  .grid-employers {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  .emp-card {
    height: auto;
    padding: 10px;
  }

  .emp-card img {
    height: 80px;
  }

  .emp-name {
    font-size: 16px;
  }
}
