/* MAIN SECTION */
.featured-section {
  width: 100%;
  margin-top: 40px;
}

/* HEADER */
.header-feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(96deg, #0c09aa, #3c39d4);
  padding: 25px 80px;
}

.header-feature h2 {
  color: #fff;
  font-family: Manrope;
  font-size: 48px;
  font-weight: 600;
}

.view-all {
  color: #fff;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
}

/* GRID */
.grid-jobs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 25px 80px;
}

/* CARD */
.job-card {
  background: #fff;
  border: 3px solid #0c09aa;
  padding: 20px;
  height: 180px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.job-card:hover {
  transform: scale(1.05);
}

.job-title {
  color: #356ae6;
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.job-company {
  color: #a5a5a5;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

/* MOBILE */
@media (max-width: 768px) {
  .header-feature {
    padding: 15px 20px;
  }

  .header-feature h2 {
    font-size: 20px;
  }

  .view-all {
    font-size: 18px;
  }

  .grid-jobs {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  .job-card {
    height: auto;
    padding: 10px;
  }

  .job-title {
    font-size: 16px;
  }

  .job-company {
    font-size: 14px;
  }
}
